@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* location-specific */
#halftitlepage b{
	font-size: 1.25em;
}

#halftitlepage p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

#halftitlepage p:nth-of-type(3){
	margin-top: .5em;
}

#halftitlepage p:last-of-type{
	margin-top: 1em;
}

#foreword p:last-of-type{
	text-align: right;
}

#chapter-2-14 blockquote > header{
	font-variant: small-caps;
	margin-bottom: 1em;
	text-align: center;
}

#chapter-2-35 div{
	border: 2px solid;
	margin: 1em auto;
	padding: 1em 0;
	text-align: center;
	text-indent: 0;
	width: 15em;
}

#chapter-2-35 div > p{
	text-indent: 0;
}

#chapter-2-35 div > p:first-of-type{
	font-size: 1.25em;
	margin-bottom: 1em;
	text-transform: uppercase;
}
/* end of location-specific */

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] em,
[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}

	section[epub|type~="epigraph"] > * + *{
		margin-top: 3em;
	}
}
/* End full-page epigraphs */